.link
  color: #2879ac
  cursor: pointer

  &:hover
    color: #f00

.link_pseudo
  text-decoration: none


.link__inner
  color: inherit
  border-bottom: 1px dotted

  .link_current &
    color: black
    border-bottom: 0
    cursor: default
