.icon
  display: inline-block
  vertical-align: middle


$icons = 'github' 'skype' 'vk'

for $icon in $icons
  .icon_{$icon}
    width: 16px
    height: 16px
    background-position: 50% 50%
    background-repeat: no-repeat

.icon_vk
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACNwAAAjcB9wZEwgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEWSURBVDiNpdPPKoRhFAbw35m+JLNQ2LgDGysLuYNRlnZ2lIWdBTZKZDE1ZanE2g3MTZCNO0CWslFC5LX43m/6TCxm5qlT55zOc/6+b2AcO2gaDK/oFJl8NCC5h8YQletoNkYgg6KmX+EDi8q9nOIJs9jMMQ+4xxiWKmI7E2dSSrCGhL2Ukux7xxumsz2pXGK7GmEMB1m/xA3m+7o9Tik9Z/0QE/UOEj4xlyssYLfWwRmKrLfwnTnteoKEbkX6T9Ctxbf7r7ASEet9PhFRj9vCXWX8dcaLiNiOiKj5biNiA1JKj3mML36fsVcQJ9iPiGu8KBd6HhGruFaeufgvQYUpLPclbmXpYeSX2FA+iGHxWqCTjaG+8w9R82debAfQSgAAAABJRU5ErkJggga820e06ec439afd7f9942f84be599c40")

.icon_github
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACaAAAAmgBN/2/ewAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEYSURBVCiRndExSkNREAXQ83++iPhRO3dgGpuARRC7QBrRTrBI40KyBddgabCwcgdWQbSwszSxtVIsFMYiE/lIBPXB5XHn3jvMeyMioIc7nKCMCIuAMj136EWEuTBEJO5xiA72E52s3Td8w2aDy4bwW1xGhNLstPz9fGU28fyPCZ6x2cIp9v4xwQrWqm/hDzzgDasJeE2sYAtV1vekOfCE9k8rbKyynd7IrGmSQRoOcIblRmg5awfJB5mZwnWSnRRvk/cbDfpZu02+k/y6xCjfs533Y96Txt9Mvmlz7whqjHFlttt1dBe8vZtaK71j1HNxAzcp7KJa0KBK7Sq9GxGhSFFRFDWOcJyresdLjlpjyWzF57iIiBf4BH1hy1sbEwIIAAAAAElFTkSuQmCC1ff886ffe38ae65de76e0ae01f9a29da')

.icon_skype
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADdgAAA3YBfdWCzAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFJSURBVDiNpdOxS9VRFAfwz308MiEiSMHNf8FBcYkg/APCwck/oaV0zNYmh2ZpE7eGhBBECrfI5SE01NjQM5yeFGgOHYfffY/DL7OkCwfuPd9zv/ec7zm3RIT/Wd3hppQyhRdYwDl28QXf0UMvIga/MdQMJtFHXGFnWEUnIgxtSLDxl8vZ9tBtE3xqBX3AEh5hGYv4mPC1NsFBAs8xgcPke43ZdP6J6YjQqVK8S7L8qgH95HuInXS+gfsYEfxI4Bi28QwzeFLrnmjpP4dRCSt/EOwImzX9eZwmbCtr8CABX/GqRTTATbxPvpeZ4I6mz4Fj3MXnFLxfCU6SrxcRzSRGxKCU8hTrmqF6g+e4VV8/ra/fThqMjzSoWXSqWP86UBujEhJJF2uaNl51uY/JiFAu+42llGlNn+c07RvDvZrlWzyOiG+4nOA66wKcdNNpmV9jPwAAAABJRU5ErkJggg086ffdf9c5b39f5606bc321d092c5339')