@font-face
    font-family: 'TextbookNew'
    src: url('TextbookNew')
    src: url('blocks/font/font_textbook-new.woff'), url('blocks/font/font_textbook-new.ttf')

.font_textbook-new
  font-family: TextbookNew, Arial, sans-serif