.card
  position: absolute
  top: 50%
  left: 50%

  width: 560px
  height: 320px
  margin-top: -(@height / 2)
  margin-left: -(@width / 2)

  perspective: 1000


.card__side
  position: absolute
  z-index: 1
  top: 0
  left: 0
  transform-style: preserve-3d
  backface-visibility: hidden
  transform: rotateX(-180deg)

.card__side_state_closed
  transition: all .4s ease-in-out
  transform: rotateX(180deg)

.card__side_state_opened
  z-index: 2
  transition: all .4s ease-in-out
  transform: rotateX(0)


.card__switch
  position: absolute
  z-index: 10
  bottom: -10px
  left: 10px

.card__link
  display: none
  margin-right: 0.5em
  float: left
  line-height: 1

.card__link.link_js_inited
  display: block
